body{
    background-color: rgb(38, 100, 100);
}

.pigs{
    background-color: aquamarine;
}
.cow{
    background-color: aqua;
}
.chicken{background-color: rgb(29, 29, 181);
}
.seven{background-color: blueviolet;}